<!DOCTYPE HTML>
<html>
	<head>
		<title>Login | Ticket Master</title>
		<link rel="stylesheet" href="assets/css/style.css" />
	</head>
	<body>
		<!-- Header -->
		<header class="movie-header">
		    <div class="header-inner">
		    	<a href="home.html">
		        	<img src="assets/css/images/logo.png" alt="Logo" style="filter: invert(1); max-width: 100px; height: auto;" />
		    	</a>
		        <nav>
		        	<a></a>
		            <ul class="nav-menu">
		                <li>
		                    <a href="movies.html">Movies</a>
		                    <ul class="dropdown grid-dropdown">
		                        <li><a href="movies.html">Now Playing</a></li>
		                        <li><a href="movies.html">Coming Soon</a></li>
		                    </ul>
		                </li>
		                <li>
		                    <a href="#">Location</a>
		                    <ul class="dropdown grid-dropdown" id="location-dropdown">
		                    </ul>
		                </li>
		                <li>
		                    <a href="about.html">About</a>
		                </li>
		            </ul>
		        </nav>
		    </div>
		</header>
		<!-- Wrapper -->
		<div id="wrapper">
		    <!-- Login -->
		    <section class="login-section">
		        <div class="login-container">
		            <h2>Login to Ticket Master</h2>
		            <form id="login-form">
		                <div class="input-group">
		                    <label for="email">Email</label>
		                    <input type="text" id="email" name="email" required />
		                </div>
		                <div class="input-group">
		                    <label for="password">Password</label>
		                    <input type="password" id="password" name="password" required />
		                </div>
		                <div class="button-group">
		                    <input type="submit" value="Login" class="button" />
		                    <input type="button" value="Register" class="button" onclick="location.href='register.html'" />
		                </div>
		            </form>
		        </div>
		    </section>
		</div>
		<!-- Footer -->
		<footer id="footer">
			<div class="inner">
				<br>
				Text
			</div>
		</footer>
	</body>
	<!-- scripts -->
	<script src="assets/js/locations.js"></script>
	<script type="module" src="assets/js/app.js"></script>
</html>
